@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}

html, body{
    height: 100vh;
    width: 100vw;
   
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

#telefone{
    position: absolute;
    top: 50%; 
    left: 50%;
    /* QUANDO DEFINIFO 50% TOP E LEFT, SERÁ CENTRALIZADO AO CENTRO A PRIMEIRA QUINA DO QUADRADO, PARA SER CENTRALIZADO AO CENTRO O MEIO DO QUADRADO, USA-SE O TRANSFORM: TRANSLATE (-50%, -50%) */
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 472px;
}

#redes-sociais{
    text-align: right;
}

img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
}

img:hover{
    border: 2px solid rgba(255, 255, 255, 0.418);
    transform: translate(-3px, -3px); /* POSICIONAR SERÁ EM VALORES NEGATIVOS PARA (ESQUERDA E CIMA)  */ /* aqui os botos estão se levantando */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform .5s, border 1s;
}